# Linrui


1. : **Model-Based Assessment of Crop Yield and Irrigation Demand under Agrivoltaic Shading: Development of an Integrated Simulation Framework**.  **Model-Based Assessment of Crop Yield and Water Use under Agrivoltaic Shading**, .


||(%)|(%)|
|---|---:|---:|
|Winter wheat|-0.0987(-0.1)|-0.1475(-0.1)|
|Potato|-2.8765(-2.9)|-3.0086(-3.0)|
|Sugar beet|-1.4077(-1.4)|-1.5651(-1.6)|
